html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(136, 136, 136);
}

:root {
  --main-red: #881515;
  --main-red-transparent: #881515f3;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: circle;
}

header ul, footer ul {
  list-style-type: none;
  display: flex;
}

.page-background {
  background-color: white;
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red);
  color: white;
  border-radius: 30px;
  padding: 7px 20px;
  margin-top: 5px;
}

.button:hover {
  color: var(--main-red);
  background-color: white;
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  cursor: pointer;
}

.button-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-red);
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 7px 20px;
  margin-top: 5px;
}

.button-outline:hover {
  color: white;
  background-color: var(--main-red);
  cursor: pointer;
}

.portfolio-title {
  margin-bottom: 0px;
}

.form-object {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  max-width: 300px;
  height: 350px;
}

.form-object button {
  border: none;
  max-width: 300px;
  height: 35px;
  font-size: 15px;
}

.form-email {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
  font-family: sans-serif;
}

.form-body {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 150px;
  font-size: 20px;
  text-indent: 10px;
  font-family: sans-serif;
}

.nav-link {
  color: white;
  text-shadow: 2px 2px var(--main-red);
  font-weight: bold;
}

.nav-link-active {
  color: tomato;
  font-weight: bold;
}

.resume-link {
  color: var(--main-red);
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }

  span {
    text-align: center;
  }

  header {
    color: white;
    text-shadow: 2px 2px var(--main-red);
  }

  header ul {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
    justify-content: space-between;
  }

  header ul li {
    margin: 0 10px;
  }

  footer ul{
    box-sizing: border-box;
    padding: 10px 50px;
    margin: 20px;
    justify-content: space-between;
  }

  footer ul li {
    margin: 0 10px;
  }

  .about-me-body {
    padding: 20px 75px;
  }

  .about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .about-me-image {
    width: 75%;
  }

  .media-icon {
    width: 100%;
    height: 50px;
  }

  .project-list-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 40px 0px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--main-red);
    border-radius: 12px;
    min-width: 300px;
    overflow: hidden;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    height: 100%;
  }

  .card-body h3 {
    text-align: center;
  }

  .card img {
    width: 100%;
    height: 175px;
    object-fit: cover;
  }

  .card-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}