html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-red: #881515;
  --main-red-transparent: #881515f3;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header ul {
  display: flex;
}

footer ul {
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-red);
  color: white;
  border-radius: 30px;
  padding: 7px 20px;
  margin-top: 5px;
}

.button:hover {
  color: var(--main-red);
  background-color: white;
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  cursor: pointer;
}

.button-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--main-red);
  box-shadow: inset 0px 0px 0px 1.5px var(--main-red);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 7px 20px;
  margin-top: 5px;
}

.button-outline:hover {
  color: white;
  background-color: var(--main-red);
  cursor: pointer;
}

.portfolio-title {
  text-align: center;
}

@media screen and (max-width: 900px) {
  header {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
  }

  header ul {
    box-sizing: border-box;
    padding: 10px 50px;
    margin: 20px;
    justify-content: space-between;
  }

  header ul li {
    margin: 0 10px;
  }

  footer ul{
    box-sizing: border-box;
    padding: 10px 50px;
    margin: 20px;
    justify-content: space-between;
  }

  footer ul li {
    margin: 0 10px;
  }

  .about-me-body {
    margin: 20px 75px;
  }

  .project-list-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 40px 0px;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--main-red);
    border-radius: 12px;
    min-width: 300px;
    overflow: hidden;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    height: 100%;
  }

  .card-body h3 {
    text-align: center;
  }

  .card img {
    width: 100%;
    height: 175px;
    object-fit: cover;
  }

  .card-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}